#header{
    background: #000;
    color: white
}


#head{
    color: bisque;
}

.module h2,
.module caption,
.inline-group h2{ 
    background: #3b3b3b;
}

ol.breadcrumbs{
    background-color: #3b3b3b;
}



.button, 
input[type="submit"], 
input[type="button"], 
.submit-row input, 
a.button{  
     background-color: #3b3b3b;
}  
button, 
input[type="submit"], 
input[type="button"], 
.submit-row input, 
a.button {
     background-color: #3b3b3b;
}
 